        .nav1 {        
        position:fixed;
        background-color: blue; 
        background-image: linear-gradient(to right, #0039A6,#000080, #4169E1, #E0FFFF);

         }
        .sidebar {
        height: 100%;
        width: 235px;
        position: fixed;
        
                
        }
        .p1 {
                font-family: "georgia";
                color: darkblue;
        }

        .p2 {
                font-family: "calibri";
                font-size: 30px;
                font-weight: bold;
                color: darkblue;
        }
        .p3 {   
                font-family: "arial";
                font-size: 12px;  
                color: white;               
        }
    
    
        body {
            background-size: cover;
            background-repeat: no-repeat; 
            background-position: fixed;
            background-attachment: fixed;
            margin: 0;
            

        }
        .form-control:focus {
            border-color: transparent !important;
            -webkit-text-shadow: none !important;
            box-shadow: none !important;
            border: 0 !important;
            border-bottom: 1px solid black !important;
            border-radius: 0 !important;
            text-decoration: none !important;
            background: transparent !important;
            color: green !important;
        }
        .form-control{
            color: green;
            font-family: arial;
        }

        .form-control2:focus {
            border-color: transparent !important;
            -webkit-text-shadow: none !important;
            box-shadow: none !important;
            border: 0 !important;
            border-bottom: 1px solid white !important;
            border-radius: 0 !important;
            text-decoration: none !important;
            background: transparent !important;
            color: black !important;
        }
        .form-control2{
            color: white;
            font-family: arial;
        }

        label{
            background: transparent;
            font-size: 15px;
            color: grey;
            
        }
        #showHide{
            margin-top:5px;
            background: transparent;
            border: none;
            color: black;
            cursor: pointer;
        }
        #password1{
            color:#3366cd;
            float: right !important;
            font-size: 14px !important;
            left: auto !important;
            background: transparent !important;
            position: absolute;
            cursor: pointer !important;
            top: 30% !important;
            right: 10px;
        }

.error-container {
            /* Your styles for the error container here */
            border-left: 2px solid red;
            padding-left: 10px;
            /* Other styles as needed */
        }



/* DASHBOARD CSS */
.dash-blade{
    height: auto;
    background-image: linear-gradient(#FFFAF0, #1E90FF);
    background-size: 100%;
    background-position: fixed;
}
    nav {        
        position:fixed;
        background-color: blue; 
        background-image: linear-gradient(to right, #0039A6,#000080, #4169E1, #E0FFFF);

    }  

    .active{
        background-color: orange;
        border-radius: 5px;
        length: 20;
        
    }

    .projectsClass {
      max-height: 0 !important;
      visibility: hidden !important;
    }

    .projects {
      margin-left: 30px;
      max-height: 40px;
      visibility: visible;
      transition: max-height 0.5s;
    }

    #menu > .toggleTitle {

      line-height: 1.5;
      border: 0;
      color: white;
    }

        .projectsClass2 {
      max-height: 0 !important;
      visibility: hidden !important;
    }

    .project2 {
      margin-left: 30px;
      max-height: 50px;
      visibility: visible;
      transition: max-height 0.4s;
    }

    #menu > .toggleTitle2 {

      line-height: 1.5;
      border: 0;
      color: white;
    }
